
body {
    font-family: Arial, sans-serif;
    background-color: #006400;
    color: white;
    text-align: center;
}

.game-container {
    width: 80%;
    margin: auto;
    padding: 20px;
    background-color: #013220;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}

#game-table {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 400px;
    padding: 20px;
    border-radius: 50%;
    background: radial-gradient(circle, #014220 30%, #006400 70%);
    box-shadow: 0 0 50px rgba(0, 0, 0, 0.8);
    border: 8px solid #654321; /* Bordure pour imiter le bois autour de la table */
}

.cards {
    border: 2px solid white;
    padding: 20px;
    background-color: #1a421b;
    width: 45%;
    margin: auto;
    border-radius: 10px;
    text-align: center;
}

.controls {
    margin-top: 20px;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    margin: 5px;
    background-color: #004400;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #006600;
}

#game-message {
    font-size: 18px;
    margin-top: 10px;
}

/* Style pour les cartes */
.card {
    display: inline-block;
    border: 1px solid white;
    padding: 10px;
    margin: 5px;
    width: 50px;
    height: 70px;
    background-color: white;
    color: black;
    font-size: 24px;
    text-align: center;
    border-radius: 8px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}

#dealer-cards {
    align-self: flex-start;
}

#player-cards {
    align-self: flex-end;
}

.stats {
    margin-top: 20px;
    padding: 20px;
    background-color: #013220;
    border-radius: 10px;
    border: 2px solid #654321;
}
