
body {
    font-family: Arial, sans-serif;
    background-color: #006400;
    color: white;
    text-align: center;
}

.game-container {
    width: 80%;
    margin: auto;
    padding: 20px;
    background-color: #013220;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}

#game-table {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
}

.cards {
    border: 2px solid white;
    padding: 20px;
    width: 45%;
    background-color: #1a421b;
    border-radius: 10px;
}

.stats {
    margin: 20px 0;
    padding: 20px;
    background-color: #1a421b;
    border-radius: 10px;
}

.controls {
    margin-top: 20px;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    margin: 5px;
}

#game-message {
    font-size: 18px;
    margin-top: 10px;
}

/* Style pour les cartes */
.card {
    display: inline-block;
    border: 1px solid white;
    padding: 10px;
    margin: 5px;
    width: 50px;
    height: 70px;
    background-color: white;
    color: black;
    font-size: 24px;
    text-align: center;
    border-radius: 8px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}
